---
import BaseCard from './BaseCard.astro'
import { cn } from '@/utils'

const {
  date,
  ...restProps
} = Astro.props
---

<BaseCard {...restProps} class={cn('relative px-5 py-3', restProps.class)}>
  {date && (
    <h2 class={cn('hidden')}>{date}</h2>
  )}
  <div class='flex flex-col gap-y-1.5 md:pr-20 lg:pr-0'>
    <slot />
  </div>
</BaseCard>
